/* Simple CSS for styling the weather today module */

body {
    background: black;
    color: #aaaaaa;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
}

.weather-today h1 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 5px;

}

#desc, #loc{
    font-size: 1.25em;
}

#weather-icon{
    height: 35px;
    width: auto;

}
